---
- name: Test Splunk Universal Forwarder service
  hosts: splunk
  become: true
  gather_facts: false

  vars:
    splunk_home: "/opt/splunkforwarder"

  tasks:
    - name: Check Splunk Forwarder service status
      become_user: splunk
      ansible.builtin.command:
        cmd: "{{ splunk_home }}/bin/splunk status"
      register: splunk_status
      changed_when: false
      failed_when: "'splunkd is running' not in splunk_status.stdout"

    - name: Check Splunk Forwarder version
      become_user: splunk
      ansible.builtin.command:
        cmd: "{{ splunk_home }}/bin/splunk version"
      register: splunk_version
      changed_when: false

    - name: Display Splunk Forwarder version
      ansible.builtin.debug:
        msg: "{{ splunk_version.stdout }}"
